# NUMPY LAB EXERCISES

1)** IMPORT numpy package as np **

In [1]:
import numpy as np

2) Create an empty array pf 20 0's and replace the fourth object with number 5

In [12]:
a= np.zeros(20)
a[3]=5
a

array([0., 0., 0., 5., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0.])

3) Create an array of 20 1's and store it in a variable named array_master. Copy the same variable into another variable called array_copy

In [7]:
array_master = np.ones(20)
array_copy = array_master.copy()
array_copy

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1.])

4) Create an array contain 30 1's and broadcast all the ones to 100

In [8]:
a= np.ones(30)
a[:] = 100
a

array([100., 100., 100., 100., 100., 100., 100., 100., 100., 100., 100.,
       100., 100., 100., 100., 100., 100., 100., 100., 100., 100., 100.,
       100., 100., 100., 100., 100., 100., 100., 100.])

5) Create an array of integers starting from 21 to 31 and name it as array1

Create an array of integers starting from 11 to 21 and name it as array2

Calculate difference between array1 and array2

In [9]:
array1= np.arange(21,32)
array2= np.arange(11, 22)
array1-array2

array([10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10])

6) Create an array of all even integers from 2 to 10 and name it a1

Create an array of all even integers from 22 to 30 and name it as a2

a) Use the 2 arrays as rows and create a matrix

In [10]:
a1 = np.arange(2,11,2)
a2 = np.arange(22,31,2)
np.stack((a1,a2))

array([[ 2,  4,  6,  8, 10],
       [22, 24, 26, 28, 30]])

b) Use the 2 arrays as column and create a matrix

In [11]:
a1 = np.arange(2,11,2)
a2 = np.arange(22,31,2)
np.column_stack((a1,a2))

array([[ 2, 22],
       [ 4, 24],
       [ 6, 26],
       [ 8, 28],
       [10, 30]])

7) Create a 5x6 matrix with values ranging from 0 to 29 and retrieve the value intersecting at 2nd row and 3rd column

In [15]:
a = np.arange(30). reshape(5,6)
a[1,2]

8

8) Create an identity matrix of shape 10x10 and replace the 0's with value 21

In [17]:
arr = np.eye(10)
arr[arr==0] = 21
arr

array([[ 1., 21., 21., 21., 21., 21., 21., 21., 21., 21.],
       [21.,  1., 21., 21., 21., 21., 21., 21., 21., 21.],
       [21., 21.,  1., 21., 21., 21., 21., 21., 21., 21.],
       [21., 21., 21.,  1., 21., 21., 21., 21., 21., 21.],
       [21., 21., 21., 21.,  1., 21., 21., 21., 21., 21.],
       [21., 21., 21., 21., 21.,  1., 21., 21., 21., 21.],
       [21., 21., 21., 21., 21., 21.,  1., 21., 21., 21.],
       [21., 21., 21., 21., 21., 21., 21.,  1., 21., 21.],
       [21., 21., 21., 21., 21., 21., 21., 21.,  1., 21.],
       [21., 21., 21., 21., 21., 21., 21., 21., 21.,  1.]])

9)Use numpy to generate a random set of 10 numbers between 0 and 1
Display a boolean array output where all values greater than 0.2 are True and rest marked False

In [19]:
a= np.random.randn(10)
a>0.2

array([False, False, False, False, False, False,  True, False, False,
        True])

10) Use numpy to generate an array of 5x2 matrix random numbers sampled from a standard normal distribution

In [20]:
np.random.randn(5,2)

array([[-1.2398516 ,  0.46735771],
       [-1.01493789,  1.34902245],
       [ 2.04526113, -0.54134033],
       [ 1.76133885, -0.95301972],
       [ 0.31505965, -1.50077003]])

11)Create an array of 30 linearly spaced points between 0 and 100

In [21]:
np.linspace(0,100,30)

array([  0.        ,   3.44827586,   6.89655172,  10.34482759,
        13.79310345,  17.24137931,  20.68965517,  24.13793103,
        27.5862069 ,  31.03448276,  34.48275862,  37.93103448,
        41.37931034,  44.82758621,  48.27586207,  51.72413793,
        55.17241379,  58.62068966,  62.06896552,  65.51724138,
        68.96551724,  72.4137931 ,  75.86206897,  79.31034483,
        82.75862069,  86.20689655,  89.65517241,  93.10344828,
        96.55172414, 100.        ])

# NUMPY INDEXING AND SELECTIONS

Using the below given matrix , generate output for below questions

In [22]:

simple_matrix = np.arange(1,101).reshape(10,10)
simple_matrix

array([[  1,   2,   3,   4,   5,   6,   7,   8,   9,  10],
       [ 11,  12,  13,  14,  15,  16,  17,  18,  19,  20],
       [ 21,  22,  23,  24,  25,  26,  27,  28,  29,  30],
       [ 31,  32,  33,  34,  35,  36,  37,  38,  39,  40],
       [ 41,  42,  43,  44,  45,  46,  47,  48,  49,  50],
       [ 51,  52,  53,  54,  55,  56,  57,  58,  59,  60],
       [ 61,  62,  63,  64,  65,  66,  67,  68,  69,  70],
       [ 71,  72,  73,  74,  75,  76,  77,  78,  79,  80],
       [ 81,  82,  83,  84,  85,  86,  87,  88,  89,  90],
       [ 91,  92,  93,  94,  95,  96,  97,  98,  99, 100]])

1) Retrieve the last 2 rows and first 3 column values of the above matrix using index and selection technique

In [26]:
simple_matrix[8:, 0:3]

array([[81, 82, 83],
       [91, 92, 93]])

2)Retrieve the value 55 from the above matrix using index and selection technique

In [27]:
simple_matrix[5,4]

55

3) Retrieve the value from the third column in the above matrix

In [29]:
simple_matrix[:,2]

array([ 3, 13, 23, 33, 43, 53, 63, 73, 83, 93])

4) Retrieve the value from the fourth row

In [30]:
simple_matrix[3,:]

array([31, 32, 33, 34, 35, 36, 37, 38, 39, 40])

5) Retrieve values from the 2nd and 4th rows in the above matrix

In [31]:
simple_matrix[(1,3), :]

array([[11, 12, 13, 14, 15, 16, 17, 18, 19, 20],
       [31, 32, 33, 34, 35, 36, 37, 38, 39, 40]])

# Calculate following values for given matrix

1) Calculate the sum of all values in the matrix

In [32]:
simple_matrix.sum()

5050

2) Calculate the std in the matrix

In [33]:
simple_matrix.std()

28.86607004772212

3)Calculate Variance

In [34]:
simple_matrix.var()

833.25

4) Calculate mean of all values in the matrix

In [35]:
simple_matrix.mean()

50.5

5) Retrieve the largest number from the matrix

In [36]:
simple_matrix.max()

100

6) Retrieve the smallest number from the matrix

In [38]:
simple_matrix.min()

1